@using Restaurant.Domain.Dto;
@model ChangePasswordDto

@{
    ViewData["Title"] = "Change Password";
}


<div class="row mt-5">
    <div class="col-sm-3">
        @await Html.PartialAsync("_menuPartial")
    </div>
    <div class="col-sm-9 border-start">
        <div>
            <form action="/Account/ChangePassword" method="post">
                <h2 class="display-6 mb-5">Change Password</h2>
                <div class="form-floating mb-3">
                    <input asp-for="OldPassword" type ="password" class="form-control" />
                    <label asp-for="OldPassword">Old Password</label>
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <label asp-for="NewPassword">NewPassword</label>
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div><div class="form-floating mb-3">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Change Password</button>
                <p class="@(ViewBag.Message =="Change Successed"? "text-success": "text-danger")">@ViewBag.Message</p>
                <p class="text-danger">@ViewBag.Error</p>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

