@using Restaurant.Domain.Dto;
@model ConfirmEmailDto


<div class="text-center">
    <p class="display-6">
        Congratulations @Model.Email, You have confirmed your Email
    </p>
    <a asp-controller="Account" asp-action="Index">Main Page</a>
</div>
