@using Restaurant.Domain.Dto;
@model DishDto


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dishModal">
    Add Dish
</button>

<!-- Modal -->
<div class="modal fade" id="dishModal" tabindex="-1" aria-labelledby="dishModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="dishModalLabel">Create Dish</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input id="dish-name" asp-for="Name" type="text" class="form-control" />
                        <label asp-for="Name">Dish Name</label>
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="dish-describition" asp-for="Describition" type="text" class="form-control" />
                        <label asp-for="Describition">Description</label>
                        <span class="text-danger" asp-validation-for="Describition"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="dish-price" asp-for="Price" type="number" min="0" max="300" step="0.50" class="form-control" />
                        <label asp-for="Price">Price</label>
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="dish-save" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

