@model string


<div id="dish-services">
    <button id="dish-page-down" class="btn btn-outline-primary"><i class="bi bi-arrow-left"></i></button>
    <button id="dish-page-up" class="btn btn-primary"><i class="bi bi-arrow-right"></i></button>
</div>

