@{
    ViewData["title"] = "No Access";
}
<div class="container-fluid text-center mt-5">
    <h5 class="display-5">You have no access to that services</h5>
    <a class="btn btn-warning mt-5" asp-controller="Home" asp-action="Index">Back to home page</a>
</div>
